services:
    judge_redis:
        image: redis:4.0-alpine
        restart: unless-stopped
        volumes:
            - ./data/redis:/data
        healthcheck:
          test: ["CMD", "redis-cli", "ping"]
          interval: 10s
          timeout: 3s
          retries: 5
    judge_mariadb:
        image: mariadb:11.8
        restart: unless-stopped
        environment:
          - MYSQL_ROOT_PASSWORD=orangejudgerootpassword
          - MYSQL_DATABASE=orangejudge
          - MYSQL_USER=orangejudgeuser
          - MYSQL_PASSWORD=orangejudgepassword
        ports:
          - "3306:3306"
        volumes:
          - ./data/mariadb:/var/lib/mysql
        healthcheck:
          test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
          start_period: 10s
          interval: 10s
          timeout: 5s
          retries: 5
    judge_server:
        image: littleorange666/judge_server:1.5.0
        read_only: true
        restart: on-failure
        cap_drop:
            - SETPCAP
            - MKNOD
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
            - FSETID
        tmpfs:
            - /tmp
        volumes:
            - sandbox:/sandbox
            - ./langs:/langs:ro
        environment:
            - SERVICE_URL=http://judge-server:9134
        ports:
            - "0.0.0.0:9132:8000"
        healthcheck:
          test: ["CMD", "python3", "-c", "import http.client; c=http.client.HTTPConnection('localhost', 8000); c.request('GET', '/health_check'); r=c.getresponse(); exit(0) if r.status < 400 else exit(1)"]
          interval: 10s
          start_period: 10s
          timeout: 3s
          retries: 5
    judge_backend:
        image: littleorange666/orange_judge:1.10.4
        read_only: true
        restart: on-failure
        depends_on:
            judge_server:
                condition: service_healthy
            judge_redis:
                condition: service_healthy
            judge_mariadb:
                condition: service_healthy
        cap_drop:
            - SETPCAP
            - MKNOD
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
            - FSETID
        tmpfs:
            - /app/tmp
            - /tmp
        volumes:
            - sandbox:/app/sandbox
            - ./data:/app/data
            - ./langs:/app/langs:ro
        environment:
            - ORANGEJUDGE_VERSION=1.10.4
            - JUDGER_URL=http://judge_server:8000
            - REDIS_HOST=judge_redis
            - MYSQL_DB=orangejudge
            - MYSQL_USER=orangejudgeuser
            - MYSQL_PASSWORD=orangejudgepassword
            - MYSQL_HOST=judge_mariadb:3306
        ports:
            - "0.0.0.0:8080:8080"
        healthcheck:
          test: ["CMD", "python3", "-c", "import http.client; c=http.client.HTTPConnection('localhost', 8080); c.request('GET', '/'); r=c.getresponse(); exit(0) if r.status < 400 else exit(1)"]
          interval: 10s
          start_period: 10s
          timeout: 3s
          retries: 5
volumes:
    sandbox: