<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <title>{{ site_name }} | {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link href="/static/main.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/codehilite.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" href="/static/favicon.ico">
    <style>{% block style %}{% endblock %}</style>
</head>
<body>
<div id="top_area" class="toc">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ site_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-between;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/problems">公開題目</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contests">競賽列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/test">測試</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/status">解題動態</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        關於
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/about_judge">評測系統</a></li>
                        <li><a class="dropdown-item" href="https://LittleOrange666.github.io/orangejudge/">教程</a></li>
                      </ul>
                    </li>
                    {% block navbar %}{% endblock %}
                </ul>
                <ul class="navbar-nav navbar-text">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                               aria-expanded="false">{{ current_user.data.display_name }}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/{{ current_user.id }}">個人頁面</a></li>
                                <li><a class="dropdown-item" href="/status?user={{ current_user.id }}">解題列表</a></li>
                                <li><a class="dropdown-item" href="/settings">帳號設定</a></li>
                                <li><a class="dropdown-item" href="/preferences">偏好設定</a></li>
                                {% if current_user.has_str("make_problems") %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/problemsetting">我的題目</a></li>
                                {% endif %}
                                {% if current_user.has_str("admin") %}
                                    <li><a class="dropdown-item" href="/problemsetting_all">所有題目</a></li>
                                {% endif %}
                                {% if current_user.has_str("root") %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/admin">管理介面</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/logout">登出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">登入</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="main_area">
    {% block main %}{% endblock %}
</div>
<div class="footer">
    <p>{{ site_name }}</p>
    <p>Powered by <a href="https://github.com/LittleOrange666/OrangeJudge">OrangeJudge</a> {{ version_info }}</p>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="myModalText">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkingModal" tabindex="-1" aria-labelledby="checkingModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkingModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="checkingModalText">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="checkingModalEnter">確定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        config: ["MMLorHTML.js"],
        jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
        extensions: ["MathMenu.js", "MathZoom.js"]
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js"></script>
{% if csrf_token is defined %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token">
{% else %}
<input type="hidden" name="csrf_token" value="CSRF_TOKEN" id="csrf_token">
{% endif %}
<script>{% block script %}{% endblock %}</script>
<script src="/static/main.js"></script>
</body>
</html>