{% extends "base.html" %}

{% block title %}競賽 - {{data['name']}}{% endblock %}

{% block main %}
<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="index_page_tab" data-bs-toggle="tab" data-bs-target="#index_page"
           type="button" role="tab" aria-controls="index_page" aria-selected="true">首頁</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="status_tab" data-bs-toggle="tab" data-bs-target="#status" type="button" role="tab"
           aria-controls="status" aria-selected="false">解題動態</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="standing_tab" data-bs-toggle="tab" data-bs-target="#standing" type="button" role="tab"
           aria-controls="standing" aria-selected="false">記分板</a>
    </li>
    {% if can_edit %}
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="edit_tab" data-bs-toggle="tab" data-bs-target="#edit" type="button" role="tab"
           aria-controls="edit" aria-selected="false">管理</a>
    </li>
    {% endif %}
</ul>
<div class="tab-content">
    <div id="index_page" class="tab-pane fade show active">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">名稱</th>
                {% if can_edit %}
                <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for idx, problem in data["problems"].items() %}
            <tr>
                <th scope="row"><a href="/contest/{{ cid }}/problem/{{ idx }}" target="_blank">{{ idx }}</a></th>
                <td><a href="/contest/{{ cid }}/problem/{{ idx }}" target="_blank">{{ problem['name'] }}</a></td>
                {% if can_edit %}
                <td>
                    <form the_action="remove_problem">
                        <input name="idx" value="{{ idx }}" hidden>
                        <button class="btn btn-danger submitter">刪除題目</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if can_edit %}
        <form the_action="add_problem">
            <div class="row">
                <div class="col-auto">
                    <input type="text" class="form-control" name="pid" placeholder="題目編號" required>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary submitter">添加題目</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <div id="status" class="tab-pane fade">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">解題編號</th>
                <th scope="col">時間</th>
                <th scope="col">提交者</th>
                <th scope="col">題目</th>
                <th scope="col">語言</th>
                <th scope="col">結果</th>
            </tr>
            </thead>
            <tbody id="status_table">
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="status_page">
            </ul>
        </nav>
    </div>
    <div id="standing" class="tab-pane fade">
    </div>
    {% if can_edit %}
    <div id="edit" class="tab-pane fade">
        <form the_action="change_settings">
            <h4>比賽時間</h4>
            <div class="mb-3">
              <label for="start_time" class="form-label">開始時間</label>
              <input type="datetime-local" class="form-control" id="start_time" name="start_time" data-value="{{ data['start'] }}">
            </div>
            <div class="mb-3">
              <label for="elapsed_time" class="form-label">持續時間(分鐘)</label>
              <input type="number" class="form-control" id="elapsed_time" name="elapsed_time" placeholder="持續時間"
              value="{{ data['elapsed'] }}">
            </div>
            <div class="radio-selector" data-value="{{ data['type'] }}">
                <h4>計分規則</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rule_type" id="rule_type1" value="icpc">
                    <label class="form-check-label" for="rule_type1">
                        ACM ICPC
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rule_type" id="rule_type2" value="ioi">
                    <label class="form-check-label" for="rule_type2">
                        IOI style
                    </label>
                </div>
            </div>
            <div class="radio-selector" data-value="{{ data['pretest'] }}">
                <h4>後測</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pretest_type" id="pretest_type1" value="no">
                    <label class="form-check-label" for="pretest_type1">
                        無後測
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pretest_type" id="pretest_type2" value="all">
                    <label class="form-check-label" for="pretest_type2">
                        對所有提交計分
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pretest_type" id="pretest_type3" value="last">
                    <label class="form-check-label" for="pretest_type3">
                        對最後提交計分
                    </label>
                </div>
            </div>
            <div class="radio-selector" data-value="{{ 'yes' if data['can_register'] else 'no' }}">
                <h4>自行報名</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="register_type" id="register_type1" value="yes">
                    <label class="form-check-label" for="register_type1">
                        是
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="register_type" id="register_type2" value="no">
                    <label class="form-check-label" for="register_type2">
                        否
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary submitter">儲存設定</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
<script src="/static/tab_memory.js"></script>
<script src="/static/contest.js"></script>
<input id="cid" value="{{ cid }}" hidden>
<input id="username" value="{{ current_user.id }}" hidden>
{% endblock %}