{% extends "base.html" %}

{% block title %}競賽列表{% endblock %}

{% block main %}
    <h1>競賽列表</h1>
    {% if current_user.is_authenticated and current_user.has_str("make_problems") %}
        <form method="post" action="/create_contest">
            <div class="row">
                <div class="col-auto">
                    <input type="text" class="form-control" name="contest_name" placeholder="競賽名稱"
                           pattern="^.{1,120}$"
                           required>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary submitter" data-redirect="true">建立新的競賽</button>
                </div>
            </div>
        </form>
    {% endif %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">競賽名稱</th>
            <th scope="col">開始時間</th>
            <th scope="col">持續時間</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for cid, dat, can_vir in contests %}
            <tr>
                <th scope="row"><a href="/contest/{{ cid }}">{{ name }}</a></th>
                <td class="date-string">{{ dat.start }}</td>
                <td class="time-string">{{ dat.elapsed }}</td>
                <td>
                    <div class="row">
                        {% if current_user.is_authenticated and dat.can_register and dat.start > cur_time %}
                            <div class="col-auto">
                                {% if current_user.id not in dat.participants %}
                                    <form method="post" action="/contest/{{ cid }}/register">
                                        <button class="btn btn-primary submitter">註冊</button>
                                    </form>
                                {% else %}
                                    <form method="post" action="/contest/{{ cid }}/unregister">
                                        <button class="btn btn-danger submitter">取消註冊</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if current_user.is_authenticated and contest.can_virtual() and current_user.id not in
                dat.virtual_participants %}
                            <div class="col-auto">
                                <a class="btn btn-secondary" href="/contest/{{ cid }}/virtual">模擬註冊</a>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" data-disabled="{{ page_idx == 1 }}">
                <a class="page-link" data-args="page={{ page_idx-1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in show_pages %}
                <li class="page-item" data-active="{{ page==page_idx }}"><a class="page-link"
                                                                            data-args="page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item" data-disabled="{{ page_idx == page_cnt }}">
                <a class="page-link" data-args="page={{ page_idx + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}