{% extends "base.html" %}

{% block title %}競賽 - {{data['name']}}{% endblock %}

{% block main %}
<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="index_page_tab" data-bs-toggle="tab" data-bs-target="#index_page"
           type="button" role="tab" aria-controls="index_page" aria-selected="true">首頁</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="status_tab" data-bs-toggle="tab" data-bs-target="#status" type="button" role="tab"
           aria-controls="status" aria-selected="false">status</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="standing_tab" data-bs-toggle="tab" data-bs-target="#standing" type="button" role="tab"
           aria-controls="standing" aria-selected="false">記分板</a>
    </li>
    {% if can_edit %}
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="edit_tab" data-bs-toggle="tab" data-bs-target="#edit" type="button" role="tab"
           aria-controls="edit" aria-selected="false">管理</a>
    </li>
    {% endif %}
</ul>
<div class="tab-content">
    <div id="index_page" class="tab-pane fade show active">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">名稱</th>
            </tr>
            </thead>
            <tbody>
            {% for problem in data["problems"] %}
            <tr>
                <th scope="row"><a href="/contest/{{ cid }}/{{ problem['idx'] }}" target="_blank">{{ problem['idx'] }}</a></th>
                <td><a href="/contest/{{ cid }}/{{ problem['idx'] }}" target="_blank">{{ problem['name'] }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if can_edit %}
        <form the_action="add_problem">
            <div class="row">
                <div class="col-auto">
                    <input type="text" class="form-control" name="pid" placeholder="題目編號" required>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary submitter" data-redirect="true">添加題目</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <div id="status" class="tab-pane fade">
        未開放
    </div>
    <div id="standing" class="tab-pane fade">
    </div>
    {% if can_edit %}
    <div id="edit" class="tab-pane fade">
    </div>
    {% endif %}
</div>
<script src="/static/tab_memory.js"></script>
<script src="/static/contest.js"></script>
<input id="cid" value="{{ cid }}" hidden>
{% endblock %}