{% extends "base.html" %}

{% block title %}My problems{% endblock %}

{% block main %}
<h1>{{ title }}: </h1>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">題目編號</th>
        <th scope="col">題目名稱</th>
        <th scope="col">修改時間</th>
        <th scope="col">版本</th>
    </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
    <tr>
        <th scope="row"><a href="/problemsetting/{{ problem['pid'] }}">{{ problem['pid'] }}</a></th>
        <td><a href="/problemsetting/{{ problem['pid'] }}">{{ problem['name'] }}</a></td>
        <td>{{ problem["time"] }}</td>
        <td>{{ problem["version"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" data-disabled="{{ page_idx == 1 }}">
            <a class="page-link" data-args="page={{ page_idx-1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in show_pages %}
        <li class="page-item" data-active="{{ page==page_idx }}"><a class="page-link" data-args="page={{ page }}">{{
            page }}</a></li>
        {% endfor %}
        <li class="page-item" data-disabled="{{ page_idx == page_cnt }}">
            <a class="page-link" data-args="page={{ page_idx+1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="mb-3">
    <a class="btn btn-primary" href="/problemsetting_new" role="button">新建題目</a>
</div>
{% endblock %}