{% extends "base.html" %}

{% block title %}解題列表{% endblock %}

{% block main %}
<h1>解題列表</h1>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">解題編號</th>
        <th scope="col">來源</th>
        <th scope="col">結果</th>
        <th scope="col">時間</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
    <tr>
        <th scope="row"><a href="/submission/{{ submission['name'] }}">{{ submission['name'] }}</a></th>
        <td><a href="{{ submission['source'] }}">{{ submission["source_name"] }}</a></td>
        <td>{{ submission["result"] }}</td>
        <td>{{ submission["time"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" data-disabled="{{ page_idx == 1 }}">
            <a class="page-link" data-args="page={{ page_idx-1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in show_pages %}
        <li class="page-item" data-active="{{ page==page_idx }}"><a class="page-link" data-args="page={{ page }}">{{
            page }}</a></li>
        {% endfor %}
        <li class="page-item" data-disabled="{{ page_idx == page_cnt }}">
            <a class="page-link" data-args="page={{ page_idx+1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}