{% extends "base.html" %}

{% block title %}個人設置{% endblock %}

{% block main %}
<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general_info_tab" data-bs-toggle="tab" data-bs-target="#general_info"
           type="button" role="tab" aria-controls="general_info" aria-selected="true">基本訊息</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="password_tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab"
           aria-controls="password" aria-selected="false">變更密碼</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="team_tab" data-bs-toggle="tab" data-bs-target="#team" type="button" role="tab"
           aria-controls="team" aria-selected="false">小組設置</a>
    </li>
</ul>
<div class="tab-content">
    <div id="general_info" class="tab-pane fade show active">
        <h3>基本訊息</h3>
        <form method="POST" action="/settings">
            <input type="hidden" name="action" value="general_info">
            <div class="mb-3">
                <label for="user_id_input" class="form-label">ID</label>
                <input type="text" class="form-control" id="user_id_input" value="{{ current_user.id }}" disabled>
            </div>
            <div class="mb-3">
                <label for="email_input" class="form-label">email</label>
                <input type="text" class="form-control" id="email_input" value="{{ data['email'] }}" disabled>
            </div>
            <div class="mb-3">
                <label for="display_name_input" class="form-label">顯示名稱</label>
                <input type="text" class="form-control" id="display_name_input" value="{{ data.display_name }}"
                       name="DisplayName" required>
            </div>
            <button class="btn btn-primary submitter">儲存</button>
        </form>
    </div>
    <div id="password" class="tab-pane fade">
        <h3>變更密碼</h3>
        <form method="POST" action="/settings">
            <input type="hidden" name="action" value="change_password">
            <div class="mb-3">
                <label for="old_password" class="form-label">舊密碼</label>
                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="舊密碼"
                       required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">新密碼</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="新密碼"
                       required
                       pattern="^.{6,}$">
            </div>
            <div class="mb-3">
                <label for="new_password_again" class="form-label">重複新密碼</label>
                <input type="password" class="form-control" id="new_password_again" placeholder="重複新密碼"
                       required>
            </div>
            <button class="btn btn-primary submitter" data-msg-403="舊密碼不正確">變更密碼</button>
        </form>
    </div>
    <div id="team" class="tab-pane fade">
        <h3>小組設置</h3>
        <div class="container-fluid">
            <h4>已加入的小組</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">成員</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for name,dat in teams.items()%}
                <tr>
                    <th scope="row"><a href="/user/{{ name }}">{{ name }}</a></th>
                    <td>
                        {% for user in dat["members"] %}
                        <span><a href="/user/{{ user }}">{{ user }}</a></span>
                        {% if not loop.last %}<span>、</span>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if dat["owner"] != current_user.id %}
                        <form method="post" action="/settings">
                            <input type="hidden" name="action" value="leave_team">
                            <input type="hidden" name="team" value="{{ name }}">
                            <button type="button" class="btn btn-danger submitter">退出</button>
                        </form>
                        {% else %}
                        <form method="post" action="/settings">
                            <input type="hidden" name="action" value="add_member">
                            <input type="hidden" name="team" value="{{ name }}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="user ID" name="target" required>
                                <button type="button" class="btn btn-success submitter" data-msg-404="此人不存在"
                                        data-msg-409="此人已在小組中">邀請
                                </button>
                            </div>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <h4>創建小組</h4>
            <form method="POST" action="/settings">
                <input type="hidden" name="action" value="create_team">
                <div class="mb-3">
                    <label for="name_input" class="form-label">小組ID</label>
                    <input type="text" class="form-control" id="name_input" name="name" required>
                </div>
                <div class="mb-3">
                    {% for k,v in perms %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="perm_{{ k }}" name="perm_{{ k }}">
                        <label class="form-check-label" for="perm_{{ k }}">{{ v }}</label>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary submitter" data-msg-409="ID已被使用">創建小組</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}